.button{
  padding:8px 16px;
  background: var(--button-bg);
  color: var(--button-color);
  font-size: var(--button-font-size);
  border-radius: 8px;
  border:1px solid var(--button-bg);
  &[disabled]{
    opacity: 0.5;
    cursor: not-allowed;
  }
  &.normal{};
  &.important{};
  &.danger{
    background: var(--button-bg-danger);
    border-color:var(--button-bg-danger)
  };
}