:root{
    --welcome-bg-top:#5C33BE;
    --welcome-bg-bottom:#8F4CD7;
    --welcome-font-color:rgb(244, 243, 243);
    --welcome-card-bg-color:#FFFFFF;
    --button-bg:#5C33BE;
    --button-color:#FFFFFF;
    --button-font-size:2.5vh;
    --floatButton-bg:#5C33BE;
    --floatButton-color:#FFFFFF;
    --z-index-overlay:20;
    --overlay-mask-bg:rgba(0,0,0,0.5);
    --overlay-bg:white;
    --top-safe-area-height:24px;

}
